html{
	scroll-behavior: smooth;
}

.principal{
	margin-top: 26%;
}

header{
	background-image: url(../img/shiva.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	text-shadow: 3px 2px #AFC29F;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px;
	height: 50vh;
}

.fundo1{
	background-color: #E1E1E1;
}

.fundo2{
	background-color: #ffffff;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

#conteudo{
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.contato{
  	width: 100%;
  	background: #fff;
}

.contato i{
	font-size: 20px;
	color: #839634;
	float: left;
	width: 44px;
	height: 44px;
	background: #EBEBEB;;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
}

.contato h4{
    text-align: left;
    padding: 0 0 0 60px;
}

.contato  p{
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
 	color: #000;
}

footer{
	width: 100%;
	background-color: gray;
	padding-top: 10px;
	padding-bottom: 18px;
	background-repeat: no-repeat;
}

footer p{
	padding-top: 40px;
	text-align: center;
	font-size: 1em;
}

@media screen and (min-width: 768px){
.principal{
	margin-top: 5%;
}

header{
	height: 99vh;
	justify-content: center;
}

header h1{
	padding-top: 130px;
	padding-bottom: 25px;
	font-size: 3.3em;
}
}